<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Keyboard Layout Switch" Language="1033" Version="2.0.0.0"
	         Manufacturer="Tolik Pylypchuk" UpgradeCode="55998633-ba48-409d-8847-18969740314a">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<Media Id="1" Cabinet="KeyboardSwitch.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />

		<Property Id="DiskPrompt" Value="Keyboard Layout Switch Installation [1]" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<Property Id="ARPPRODUCTICON" Value="AppIcon.exe" />

		<UIRef Id="WixUI_InstallDir" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<CustomAction Id="LaunchApp" Directory="INSTALLFOLDER" ExeCommand="[#KeyboardSwitchExe]"
		              Return="asyncNoWait" />

		<InstallExecuteSequence>
			<RemoveExistingProducts Before="InstallInitialize" />
			<Custom Action="LaunchApp" After="InstallFinalize" />
		</InstallExecuteSequence>

		<Icon Id="AppIcon.exe" SourceFile="$(var.KeyboardSwitch.TargetDir)\Icon.ico" />

		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />

		<Feature Id="Complete" Title="Keyboard Layout Switch" Description="Keyboard Layout Switch"
		         Level="1" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
			<Feature Id="ProductFeature" Title="Keyboard Layout Switch"
			         Description="Keyboard Layout Switch" Level="1">
				<ComponentRef Id="KeyboardSwitchComponent" />
				<ComponentRef Id="KeyboardSwitchConfigComponent" />
				<ComponentRef Id="CommonServiceLocatorComponent" />
				<ComponentRef Id="HardcodetWpfTaskbarNotificationComponent" />
				<ComponentRef Id="UnityAbstractionsComponent" />
				<ComponentRef Id="UnityConfigurationComponent" />
				<ComponentRef Id="UnityContainerComponent" />
				<ComponentRef Id="UnityInterceptionConfigurationComponent" />
				<ComponentRef Id="UnityInterceptionComponent" />
				<ComponentRef Id="UnityRegistrationByConventionComponent" />
				<ComponentRef Id="UnityServiceLocationComponent" />
				<ComponentRef Id="WindowsInputComponent" />
				<ComponentRef Id="MappingsComponent" />
				<ComponentRef Id="ReadmeComponent" />
				<ComponentRef Id="IconComponent" />
				<ComponentRef Id="ProgramMenuDir" />
			</Feature>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Keyboard Layout Switch">
					<Component Id="KeyboardSwitchComponent" Guid="*" Win64="yes">
						<File Id="KeyboardSwitchExe" Name="Keyboard Layout Switch.exe" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Keyboard Layout Switch.exe" KeyPath="yes">
							<Shortcut Id="StartMenuKeyboardSwitch" Directory="ProgramMenuFolder"
							          Name="Keyboard Layout Switch" WorkingDirectory="INSTALLDIR"
							          Icon="AppIcon.exe" Advertise="yes" />
						</File>
					</Component>
					<Component Id="KeyboardSwitchConfigComponent" Guid="*" Win64="yes">
						<File Id="KeyboardSwitchConfig" Name="Keyboard Layout Switch.exe.config" DiskId="1"
						      Source="$(var.KeyboardSwitch.TargetDir)\Keyboard Layout Switch.exe.config" KeyPath="yes" />
					</Component>
					<Component Id="CommonServiceLocatorComponent" Guid="*" Win64="yes">
						<File Id="CommonServiceLocatorDll" Name="CommonServiceLocator.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\CommonServiceLocator.dll" KeyPath="yes" />
					</Component>
					<Component Id="HardcodetWpfTaskbarNotificationComponent" Guid="*" Win64="yes">
						<File Id="HardcodetWpfTaskbarNotificationDll" Name="Hardcodet.Wpf.TaskbarNotification.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Hardcodet.Wpf.TaskbarNotification.dll" KeyPath="yes" />
					</Component>
					<Component Id="UnityAbstractionsComponent" Guid="*" Win64="yes">
						<File Id="UnityAbstractionsDll" Name="Unity.Abstractions.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Unity.Abstractions.dll" KeyPath="yes" />
					</Component>
					<Component Id="UnityConfigurationComponent" Guid="*" Win64="yes">
						<File Id="UnityConfigurationDll" Name="Unity.Configuration.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Unity.Configuration.dll" KeyPath="yes" />
					</Component>
					<Component Id="UnityContainerComponent" Guid="*" Win64="yes">
						<File Id="UnityContainerDll" Name="Unity.Container.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Unity.Container.dll" KeyPath="yes" />
					</Component>
					<Component Id="UnityInterceptionConfigurationComponent" Guid="*" Win64="yes">
						<File Id="UnityInterceptionConfigurationDll" Name="Unity.Interception.Configuration.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Unity.Interception.Configuration.dll" KeyPath="yes" />
					</Component>
					<Component Id="UnityInterceptionComponent" Guid="*" Win64="yes">
						<File Id="UnityInterceptionDll" Name="Unity.Interception.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Unity.Interception.dll" KeyPath="yes" />
					</Component>
					<Component Id="UnityRegistrationByConventionComponent" Guid="*" Win64="yes">
						<File Id="UnityRegistrationByConventionDll" Name="Unity.RegistrationByConvention.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Unity.RegistrationByConvention.dll" KeyPath="yes" />
					</Component>
					<Component Id="UnityServiceLocationComponent" Guid="*" Win64="yes">
						<File Id="UnityServiceLocationDll" Name="Unity.ServiceLocation.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Unity.ServiceLocation.dll" KeyPath="yes" />
					</Component>
					<Component Id="WindowsInputComponent" Guid="*" Win64="yes">
						<File Id="WindowsInputDll" Name="WindowsInput.dll" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\WindowsInput.dll" KeyPath="yes" />
					</Component>
					<Component Id="MappingsComponent" Guid="*" Win64="yes">
						<File Id="Mappings" Name="mappings.dat" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\mappings.dat" KeyPath="yes" />
					</Component>
					<Component Id="ReadmeComponent" Guid="*" Win64="yes">
						<File Id="Readme" Name="readme.html" DiskId="1"
						      Source="$(var.KeyboardSwitch.TargetDir)\readme.html" KeyPath="yes" />
					</Component>
					<Component Id="IconComponent" Guid="*" Win64="yes">
						<File Id="Icon" Name="Icon.ico" DiskId="1"
									Source="$(var.KeyboardSwitch.TargetDir)\Icon.ico" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Component Id="ProgramMenuDir" Guid="*" Win64="yes">
					<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
					<RegistryValue Root="HKCU" Key="Software\Tolik Pylypchuk\Keyboard Layout Switch"
					               Type="string" Value="" KeyPath="yes" />
				</Component>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
