<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="KeyboardSwitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="KeyboardChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
	</startup>
	<userSettings>
		<KeyboardSwitch.Properties.Settings>
   <setting name="HotKeyForward" serializeAs="String">
    <value>X</value>
   </setting>
   <setting name="HotKeyBackward" serializeAs="String">
    <value>Z</value>
   </setting>
   <setting name="KeyModifiers" serializeAs="String">
    <value>Alt, Ctrl</value>
   </setting>
  </KeyboardSwitch.Properties.Settings>
		<KeyboardChanger.Properties.Settings>
			<setting name="HotKeyForward" serializeAs="String">
				<value>X</value>
			</setting>
			<setting name="HotKeyBackward" serializeAs="String">
				<value>Z</value>
			</setting>
		</KeyboardChanger.Properties.Settings>
	</userSettings>
</configuration>
