<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="WixSharp" version="1.14.6" targetFramework="net48" />
  <package id="WixSharp.bin" version="1.14.6" targetFramework="net48" />
  <package id="WixSharp.wix.bin" version="3.11.2" targetFramework="net48" />
</packages>